* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-image: linear-gradient(to bottom, purple, rgb(216, 116, 133));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    padding-top: 120px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: rgba(173, 66, 173, .2);
backdrop-filter: blur(35px);
border-bottom: solid white;
}

.logo {
    width: 80px;
    border-radius: 50%;
    transition: 0.5s;
}

.logo:hover {
    border: 2px solid white;
}

.goBackBtn {
    font-size: 2vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    transition: 0.3s ease;
}

.goBackBtn:hover {
    background-color: white;
    color: black;
}


.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;
}

.content {
    color: white;
    font-size: 1.25rem;
    border: solid 5px white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.content h1,
.content h2,
.content h3 {
    text-decoration: underline;
    margin-bottom: 1rem;
}

.content p,
.content ol {
    margin-bottom: 1rem;
}

.photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.photo img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}



.church-container,
.churchFront,
.churchInside,
.pyccPic,
.pastLove,
.cec,
.bffTitle,
.myPastlove-title,
.cecTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem 1rem;
}

.religiousImages {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.religiousImages img {
    display: flex;
    justify-self: center;
    max-width: 150px;
    width: 100%;
    border-radius: 10%;
    margin: 0 auto;
}

.patronName {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}


.myBFF,
.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myBFF img {
    width: 30rem;
    height: 20rem;
    border-radius: 100%;
    z-index: -1;
}

.top img {
    margin-top: -320px;
    width: 30rem;
    height: 20rem;
    border-radius: 100%;

    z-index: 1;
    opacity: 1;
    transition: .5s;
}

.top img:hover {
    opacity: 0;

}

.patrons img,
.pastLove img {
    width: 30%;
    max-width: 200px;
    margin: 0.5rem;
    border-radius: 1rem;
}

.theChurch h1,
.bffTitle h1,
.cecTitle h1,
.myPastlove-title h1 {
    font-size: 2rem;
    color: white;
    margin: 1rem;
}

.bffTitle h1 {
    font-size: 4rem;
}

iframe {
    width: 100%;
    max-width: 600px;
    height: auto;
    aspect-ratio: 4 / 3;
    border: none;
}

.backgroundDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.backgroundDesign img {
    width: 40%;
    max-width: 300px;
    height: auto;
}

@media (max-width: 900px) {

    .navigation a {
        font-size: 3vw;
    }

    .backgroundDesign {
        opacity:0%;
    }

    body {
        background-image: linear-gradient( rgb(248, 113, 237), rgb(255, 113, 243));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}



