* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.Pic {
    margin-left: -40px;
    font-size: 50px;
    color: white;
    border-radius: 100px;
    width: 100px;
    cursor: pointer;
    transition: .5s;
}

.Pic:hover {
    margin-left: -40px;
    font-size: 50px;
    color: white;
    border-radius: 100px;
    width: 100px;
    cursor: pointer;
    border: solid white;
}

.backgroundDesign {
    position: absolute;
}

.backgroundDesign .Angela {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    overflow: hidden;
    margin-top: -100px;
    opacity: 75%;
    margin-left: 2in;
}

.backgroundDesign .Aurora {
    float: right;
    width: 16in;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    transform: rotateY(180deg);
    overflow: hidden;
    margin-left: -6.2in;
    opacity: 75%;
}


.goBackBtn {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: .5s;
}

.goBackBtn:hover {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.navigation a {
    position: relative;
    font-weight: 500;
    margin-left: 40px;
    font-size: 30px;
    border-bottom: solid white;
    color: white;
    text-decoration: none;
    transition: .5s;
}

.navigation a:hover {
    position: relative;
    font-weight: 500;
    margin-left: 40px;
    font-size: 30px;
    border-bottom: solid white;
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
}

body {
    background-image: linear-gradient(to left, rgb(238, 79, 79), rgb(126, 116, 216));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px ;
}

.edrian {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.edrian img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    margin: 10px;
}

.ytLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.ytLink iframe {
    margin: 10px;
}





