* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    position: sticky;
    top:0;
    padding: 1rem;
    border-bottom: solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 160, 235, .5); 
    overflow: hidden;
    z-index: 99;
}

header a img {
    border-radius: 100%;
    width: 5rem;
    height: auto;
}

/*Style content starts here*/

.interface {
    display: flex;
    justify-content: center;
    margin-top:7vh;
    flex-direction: column;
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.container, .container2, .container3, .container4 {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-top: 5vh;
    border: solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 160, 235, .5);
    text-align: center;
    color:aliceblue;
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
}

.img1, .img2 {
    border-radius:100%;
    width:30%;
    height: 20rem;
    padding: 1rem;
}

.img1 {
    z-index:10;
    transition: .3s ease-out;
}

.img1:hover {
    opacity: 0;
}

.img2 {
    z-index: -10;
    margin-top: -20rem;
}

.pic1 {
    width:30%;
    height:15%;
    border-radius: 50%;
}

