* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-padding-top: 120px;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem;
    border-bottom: solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 160, 235, .5);
    overflow: hidden;
    z-index: 99;
}

header a img {
    border-radius: 100%;
    width: 5rem;
    height: auto;
}

nav  {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

nav a {
    text-decoration: none;
    margin-left: 4rem;
    font-size:2rem;
    padding:1rem;
    padding-bottom:0;
    padding-top:0;
    color: white;
    border-bottom: solid white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    transition: .5s;
}

nav a:hover {
    background: white;
    color: black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

/* Styling content Starts here*/

.interface {
    display: flex;
    justify-content: center;
    margin-top:7vh;
    flex-direction: row;
}

.container, .container2 {
    margin-top: 5vh;
    border: solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 160, 235, .5);
}

.container { 
    width: 15%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    color:white;
    
}

.container a {
    color:white;
    text-decoration:none;
    transition:.5s;
}

.container a:hover {
    color:rgb(7, 0, 6);
    border-radius:50%;
    background:rgb(243, 198, 243);
}

.stick {
    position: sticky;
    top: 120px;
}

.container h2, li {
    display: flex;
    justify-content: flex-start;
    padding:1rem;
}

.container2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    font-size: 2rem;
}

.container2 h1 {
    color:white;
    padding:2rem;
}


.pic {
    display: flex;
    justify-content: center;
}

.pic img {
    padding: 1rem;
    transition:.5s;
}

.pic img:hover {
    padding: 1.5rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
    
}
@media (max-width: 767px) {

    header a img {
        width:3rem;
            }
            nav a {
                margin-left: 1rem;
                font-size: 1rem;
            }
    .interface {
        flex-direction:column;
    }

    .container {
        width:80%;
    }

    .container2 {
        width:80%;
    }

    .container2 h1 {
        font-size: 2rem;
    }

    .pic img {
        width:100px;
        height:130px;
    }
}
