* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backgroundDesign {
    position: absolute;
}

.backgroundDesign .Angela {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    overflow: hidden;
    margin-top: -100px;
    opacity: 75%;
    margin-left: 2in;
}

.backgroundDesign .Aurora {
    float: right;
    width: 16in;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    transform: rotateY(180deg);
    overflow: hidden;
    margin-left: -7.5in;
    opacity: 75%;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.Pic {
    width: 10vw;
    min-width: 60px;
    max-width: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.Pic:hover {
    border: 2px solid white;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}

.navigation a {
    font-size: 2vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    transition: 0.3s ease;
}

.navigation a:hover {
    background-color: white;
    color: black;
}

body {
    background-image: linear-gradient( to right, rgb(129, 141, 250), rgb(255, 113, 125));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* The Name */

.MainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 7vh;
    text-align: center;
}
.MainPage p {
    font-size: 2vw;
    color: white;
}

.MainPage h2 {
    font-size: 6vw;
    color: white;
}

@media (max-width: 900px) {

    .navigation a {
        font-size: 3vw;
    }


    .MainPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh;
        padding-top: 7vh;
        text-align: center;
    }
    .MainPage p {
        font-size: 2vw;
        color: white;
    }
    
    .MainPage h2 {
        font-size: 6vw;
        color: white;
    }

    .backgroundDesign {
        opacity:0%;
    }

    body {
        background-image: linear-gradient( rgb(248, 113, 237), rgb(255, 113, 243));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}



