* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 1rem;
    border-bottom: solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 160, 235, .5);
    overflow: hidden;
    z-index: 99;
}

header a img {
    border-radius: 100%;
    width: 5rem;
    height: auto;
}

nav  {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

nav a {
    text-decoration: none;
    margin-left: 4rem;
    font-size:2rem;
    padding:1rem;
    padding-bottom:0;
    padding-top:0;
    color: white;
    border-bottom: solid white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    transition: .5s;
}

nav a:hover {
    background: white;
    color: black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
/*Start of the styling*/

.interface{
    width: 100%;
    margin-top:7vh;
    flex-direction: column;
}


.container, .container2 {
    width:85%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5vh;
    border: solid white;
    backdrop-filter: blur(10px);
    background-color: rgba(235, 160, 235, .5);
    text-align: center;
    color: aliceblue;
    margin-bottom: 2rem;
}

.container h1, .container2 img {
    padding:1rem;
}

.container a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem;
}

.container img {
    border-radius: 50%;
    width: 15%;
    transition: .5s;
}



.fbAccounts img  {
border-radius: 50%;
padding: 1rem;
transition: .5s;
}



.container img:hover, .fbAccounts img:hover {
    padding:2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    
}
@media (max-width: 767px) {

    .container img {
width: 60%;
    }

    .pastLove {
display: flex;
justify-content: center;
align-items: center;
    flex-direction: column;
    }

    .pastLove img {
        width:60%;
    }

    header a img {
        width:3rem;
            }
            nav a {
                margin-left: 1rem;
                font-size: 1rem;
            }
}
