* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, rgb(238, 79, 79), rgb(126, 116, 216));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
background-color: rgba(173, 66, 173, .2);
backdrop-filter: blur(35px);
border-bottom: solid white;
}

.logo {
    font-size: 2.5rem;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.5s;
    object-fit: cover;
}

.logo:hover {
    border: 2px solid white;
}

.goBackBtn {
    font-size: 2vw;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    transition: 0.3s ease;
}

.goBackBtn:hover {
    background-color: white;
    color: black;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.ytChannel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    flex-wrap: wrap;
}

.ytChannel img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.5s;
    object-fit: cover;
}

.ytChannel img:hover {
    padding: 10px;
}

.socMeds h1 {
    color: wheat;
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

.fbAccounts,
.tiktokAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.fbAccounts img,
.tiktokAccount img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.5s;
}

.fbAccounts img:hover,
.tiktokAccount img:hover {
    padding: 10px;
}

.backgroundDesign {
    position: absolute;
}

.backgroundDesign .Angela {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    overflow: hidden;
    margin-top: -100px;
    opacity: 75%;
    margin-left: 2in;
}

.backgroundDesign .Aurora {
    float: right;
    width: 16in;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    transform: rotateY(180deg);
    overflow: hidden;
    margin-left: -7.5in;
    opacity: 75%;
}

@media (max-width: 900px) {

    .navigation a {
        font-size: 3vw;
    }

    .backgroundDesign {
        opacity:0%;
    }

    body {
        background-image: linear-gradient( rgb(248, 113, 237), rgb(255, 113, 243));
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}



